/node_modules
/.next
/out
/build
.DS_Store
*.pem
.env
.env.docker
.env.production
.env*.local
.vercel
*.tsbuildinfo
next-env.d.ts

# test coverage / e2e artifacts
/coverage
/test-results
/playwright-report
/e2e-results.json
